<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="https://m.media-amazon.com/images/I/71oXOjFF2ZL._AC_SL1500_.jpg ">
          <ion-card-content>
            <p><strong>
                Hot Wheels "Toyota Supra"
            </strong></p>
            <p class="ion-text-right"><ion-badge color="light">49,99</ion-badge></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://m.media-amazon.com/images/I/715eDepvLoS._AC_SY879_.jpg">
          <ion-card-content>
            <p><strong>
                Hot Wheels "20 Toyota GR Supra "
            </strong></p>
            <p class="ion-text-right"><ion-badge color="light">17,99</ion-badge></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="https://m.media-amazon.com/images/I/71bv-6JB4fL._AC_SY741_.jpg">
          <ion-card-content>
            <p><strong>
                Hot Wheels "98 Subaru Impreza 22B STi"
            </strong></p>
            <p class="ion-text-right"><ion-badge color="light">19,99</ion-badge></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://m.media-amazon.com/images/I/71WNg78kVfL._AC_SY879_.jpg">
          <ion-card-content>
            <p><strong>
                Hot Wheels "ubaru WRX STI"
            </strong></p>
            <p class="ion-text-right"><ion-badge color="light">24,99</ion-badge></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
