<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Livros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Procurar por Livros" showCancelButton="focus" color="primary"> </ion-searchbar>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51jLuW3fWuL.jpg">
    </ion-thumbnail>
    <ion-label>JoJo bizzare adventure parte 4 volume 1</ion-label>
    <ion-badge color="light">44,99</ion-badge>
 
  </ion-item>

  
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="http://prodimage.images-bn.com/pimages/9781974708086_p0_v2_s1200x630.jpg">
    </ion-thumbnail>
    <ion-label>JoJo bizzare adventure parte 4 volume 2</ion-label>
    <ion-badge color="light">44,99</ion-badge>
 
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://images-na.ssl-images-amazon.com/images/I/818Df4oBxnL.jpg">
    </ion-thumbnail>
    <ion-label>JoJo bizzare adventure parte 4 volume 3</ion-label>
    <ion-badge color="light">44,99</ion-badge>
 
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://images-na.ssl-images-amazon.com/images/I/81GyqsC7hSL.jpg">
    </ion-thumbnail>
    <ion-label>JoJo bizzare adventure parte 4 volume 4</ion-label>
    <ion-badge color="light">44,99</ion-badge>
 
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://images-na.ssl-images-amazon.com/images/I/81X3GfWMJPL.jpg">
    </ion-thumbnail>
    <ion-label>JoJo bizzare adventure parte 4 volume 5</ion-label>
    <ion-badge color="light">44,99</ion-badge>
 
  </ion-item>
  
</ion-content>
